POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PORT=

GOOGLE_MAILER_USER=
GOOGLE_MAILER_PASS=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

FIREBASE_CREDENTIALS_PATH=
FIREBASE_BUCKET=

PYTHONUTF8=