POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PORT=

GOOGLE_MAILER_USER=
GOOGLE_MAILER_PASS=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

FIREBASE_CREDENTIALS_PATH=
FIREBASE_BUCKET=

PYTHONUTF8=

EMAIL_ADMIN=

PYTHON_CONTAINER=
PYTHON_SCRIPT_LIST_TO_DB=
PYTHON_SCRIPT_DB_TO_LIST=
PYTHON_SCRIPT_EXCEL_TO_DB=
PYTHON_SCRIPT_DB_TO_EXCEL=

ONEDRIVE_CLIENT_ID=
ONEDRIVE_TENANT_ID=
ONEDRIVE_REDIRECT_URI=
ONEDRIVE_CLIENT_SECRET=

GG_CLIENT_ID=
GG_CLIENT_SECRET=
GG_CALLBACK_URL=

TESTER_EMAIL=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

API_PREFIX=