POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PORT=

GOOGLE_MAILER_USER=
GOOGLE_MAILER_PASS=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

FIREBASE_CREDENTIALS_PATH=
FIREBASE_BUCKET=

PYTHONUTF8=

EMAIL_ADMIN=

PYTHON_CONTAINER=
PYTHON_SCRIPT_LIST_TO_DB=
PYTHON_SCRIPT_DB_TO_LIST=
PYTHON_SCRIPT_EXCEL_TO_DB=
PYTHON_SCRIPT_DB_TO_EXCEL=